<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter_2_2_multiprocess">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="main activity's label"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- process可以为四大组件指定进程 -->
        <!-- 以“：”开头的进程属于当前应用的私有进程 -->
        <activity android:name=".SecondActivity"
            android:label="second activity's label"
            android:process=":remote"/>
        <!-- 不以“：”开头的进程属于全局进程 -->
        <activity android:name=".ThirdActivity"
            android:label="third activity's label"
            android:process=".remote"/>
    </application>

</manifest>